#Map {
    position: relative;
    z-index: 0;
    margin: auto
}

#GameViewContainer {
    width: 100%;
    height: 600px;
/*    display: flex;*/
    margin: auto;
}
#GameView {
    margin: auto;
    position: relative;
/*    top: 230px;*/
    width: 60%;
/*    height: 60%;*/
    overflow: scroll;
}